body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Open Sans", sans-serif;
}

table {border-collapse: collapse}

table, th, td {
  border: 1px solid black
}

th,td {padding: 4px}

th {font-weight:bold}

.tc {text-align:center} /* text centre */

input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
}

.ai {width:380px} /* address input */

button {
  font-size: 16px;
  padding: 5px;
}

h2 {
  color: #AAA;
  font-size: 24px;
}

h3 {
  color: #AAA;
  font-size: 16x;
  margin-bottom: 0;
}

.error {
  color: red;
  font-weight:bold;
}

.hide {display: none}

ol {margin:0}

li {font-size: 14px}
